<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>dev</id>
    <name>
        <lang name="default">Plugin for developers</lang>
    </name>
    <author>
        <lang name="default">Alto CMS Team</lang>
    </author>
    <homepage>http://altocms.com</homepage>
    <version>1.4.0</version>
    <dirname>dev</dirname>
    <requires>
        <alto>
            <version>1.1.17</version>
        </alto>
        <system>
            <php>5.3.0</php>
        </system>
    </requires>
    <description>
        <lang name="default">Plugin for developers</lang>
    </description>
</plugin>